
#page-head {
    width: 100%;
    background-color: #BABE45;
}

#page-head .global-nav ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

#page-head .global-nav ul li {
    text-align: center;
}

#page-head .global-nav ul li a {
    display: box;
    padding: 12px 24px;
    text-decoration: none;
    display: block;
    color: #fdf8f4;
}

#page-head .global-nav ul li a:hover {
    background-color: #;

}